<pre>[% syntax perl6 %]
my @beers = 'beers', 'beer', 'beers' xx 97;

for reverse(1..99) Z reverse(0..98) -> $n, $nn {
    say "$n @beers[$n] on the wall!";
    say "$n @beers[$n]!";
    say "Take one down, pass it around,";
    say "$nn @beers[$nn] on the wall!";
}
[% endsyntax %]</pre>
[% option no-header %][% option no-footer %]

