<pre>[% syntax perl6 %]
my @scale = ("$_$_" for 0..9, <a b c d e f>);
my @zeroes = '00' xx 16;

# Fade from red to blue
for @scale.reverse Z @zeroes Z @scale -> $r, $g, $b {
    say "#$r$g$b";
}
[% endsyntax %]</pre>
[% option no-header %][% option no-footer %]

