html {
  overflow-y: scroll; }

body {
  background: #3B3B3D;
  background: repeating-linear-gradient(45deg, #323234, #323234 10px, #333335 10px, #333335 20px); }

small {
  color: #555; }

#wrapper-outer {
  background: #fff; }

.bg {
  padding-top: 70px;
  padding-bottom: 20px;
  background: #fff;
  min-height: 400px; }

.navbar-inverse a {
  text-shadow: none !important; }
.navbar-inverse .active a,
.navbar-inverse a:hover,
.navbar-inverse a:focus,
.navbar-inverse a:active {
  background: #98C73D !important; }
.navbar-inverse .nav a {
  font-size: 93%;
  padding-left: 11px;
  padding-right: 11px; }

footer {
  border-top: 20px solid #222223;
  padding: 5px 0 20px; }
  footer p {
    margin-top: 30px;
    padding-top: 10px;
    opacity: .8;
    border-top: 1px solid #2e2e30; }
  footer *, footer h4 a {
    color: #acb81d; }
  footer a {
    color: #dae457; }
  footer .btn-success {
    color: #000; }

.btn-xl {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 160%; }

.shy-list {
  padding-left: 1em; }

.shush-list {
  padding-left: 0;
  list-style: none; }
  .shush-list li {
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .shush-list li:last-child {
    border: 0; }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

#welcome-header img {
  margin-top: -40px; }

@media (max-width: 1200px) {
  #welcome-header img {
    margin-top: 0; } }
@media (max-width: 768px) {
  #welcome-header img {
    width: 200px; } }
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
.nav-tabs * {
  outline: 0 !important; }

.nav-tabs {
  border-bottom: 0px; }

.trim-top {
  margin-top: 0; }

.trim-top-inner {
  padding-top: 0; }

.trim-bottom {
  margin-bottom: 0; }

.trim {
  padding-bottom: 0; }

#mailing-lists dd,
#botlist dd {
  padding-left: 20px;
  padding-bottom: 10px; }

/* https://github.com/stmuk/p6-Text-VimColour  Highlighter */
.highlight pre {
  white-space: pre-wrap;
  font-family: monospace;
  color: #000;
  background-color: #F5F5F5;
  font-family: monospace;
  height: 260px; }
.highlight .Comment {
  color: #777; }
.highlight .Constant {
  color: #0000c0; }
.highlight .Special {
  color: #c000c0;
  font-weight: bold; }
.highlight .Identifier {
  color: #804000; }
.highlight .Statement {
  color: #008080;
  font-weight: bold; }
.highlight .PreProc {
  color: #c000c0; }
.highlight .Type {
  color: #008000; }

#recent_blog_posts {
  padding-left: 5px;
  padding-right: 5px;
  list-style: none; }
  #recent_blog_posts li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee; }
  #recent_blog_posts li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }

.recent_blogs_rss {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  background: url(rss.png);
  position: relative;
  top: 2px; }

#navbar {
  padding-left: 16px; }
  #navbar a[href*="//"]:after {
    padding-left: 3px;
    content: url(/external-link-icon.svg);
    width: 12px;
    height: 12px;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
