
$p6col1: #D0DD2B;
$p6col2: #98C73D;
$p6col3: #00A9E0;
$p6col4: #67CDDC;
$p6col5: #3B3B3D;

html {
    overflow-y: scroll;
}

body {
    background: $p6col5;
    background: repeating-linear-gradient(
      45deg,
      darken($p6col5, 3.5%),
      darken($p6col5, 3.5%) 10px,
      darken($p6col5, 3.2%) 10px,
      darken($p6col5, 3.2%) 20px
    );
}

small {
     color: #555;
}

#wrapper-outer {
    background: #fff;
}

.bg {
    padding-top: 70px;
    padding-bottom: 20px;
    background: #fff;
    min-height: 400px;
}

.navbar-inverse {
    // background: $p6col1;

    a {
        // color: lighten($p6col1, 10%)!important;
        text-shadow: none!important;
    }

    .active a,
    a:hover,
    a:focus,
    a:active {
        background: $p6col2!important;
    }

    .nav a {
        font-size: 93%;
        padding-left: 11px;
        padding-right: 11px;
    }
}

footer {
    border-top: 20px solid darken($p6col5, 10%);
    padding: 5px 0 20px;

    p {
        margin-top: 30px;
        padding-top: 10px;
        opacity: .8;
        border-top: 1px solid darken($p6col5, 5%);
    }

    *, h4 a {
        color: darken($p6col1, 10%);
    }

    a {
        color: lighten($p6col1, 10%);
    }

    .btn-success {
        color: #000;
    }
}

.btn-xl {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 160%;
}

.shy-list{
    padding-left: 1em;
}

.shush-list{
    padding-left: 0;
    list-style: none;

    li {
        padding-bottom: 3px;
        margin-bottom: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    li:last-child {
        border: 0;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

#welcome-header img { margin-top: -40px; }
@media (max-width: 1200px) { #welcome-header img { margin-top: 0; } }
@media (max-width: 768px)  { #welcome-header img { width: 200px;  } }

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.nav-tabs * {
    outline: 0!important;
}

.nav-tabs {
    border-bottom: 0px;
}

.trim-top {
    margin-top: 0;
}

.trim-top-inner {
    padding-top: 0;
}

.trim-bottom {
    margin-bottom: 0;
}

.trim {
    padding-bottom: 0;
}

#mailing-lists,
#botlist {
    dd {
        padding-left: 20px;
        padding-bottom: 10px;
    }
}


/* https://github.com/stmuk/p6-Text-VimColour  Highlighter */
.highlight {
    pre {
        white-space: pre-wrap;
        font-family: monospace;
        color: #000;
        background-color: #F5F5F5;
        font-family: monospace;
        height: 260px;
    }
    .Comment { color: #777; }
    .Constant { color: #0000c0;  }
    .Special { color: #c000c0; font-weight: bold; }
    .Identifier { color: #804000;  }
    .Statement { color: #008080; font-weight: bold; }
    .PreProc { color: #c000c0; }
    .Type { color: #008000;  }
}

#recent_blog_posts {
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;

    li {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
    }

    li:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
}

.recent_blogs_rss {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: url(rss.png);
    position: relative;
    top: 2px;
}

#navbar {
    padding-left: 16px;

    a[href*="//"]:after {
        padding-left: 3px;
        content: url(/external-link-icon.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
    }
}
